.contact {
	font-family: $font-family-base;

	&-content {
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	.title {
		position: relative;
		text-align: center;
		font-size: 2.5rem;
		font-weight: 500;
		margin-bottom: 3.75rem;
		padding-bottom: 1.25rem;
		font-family: $font-family-second;

		&::before {
			content: '';
			position: absolute;
			width: 12.1875rem;
			height: 3px;
			bottom: 0px;
			left: 50%;
			transform: translateX(-50%);
			background: #111;
		}

		&::after {
			content: 'get in touch';
			position: absolute;
			bottom: -0.75rem;
			left: 50%;
			font-size: 1.25rem;
			color: crimson;
			padding: 5px;
			background: $white;
			transform: translateX(-50%);
		}
	}

	.column {
		width: calc(50% - 1.875rem);

		@include breakpoint-down(medium) {
			width: 100%;
			margin-bottom: 2.1875rem;
		}
	}

	.text {
		font-weight: 600;
		font-size: 1.25rem;
		margin-bottom: 0.625rem;
	}

	.left {
		.icon {
			margin: 0.625rem 0;
		}

		.row {
			display: flex;
			height: 4.0625rem;
			align-items: center;

			.info {
				margin-left: 1.875rem;

				.head {
					font-weight: 500;
				}

				.sub-title {
					color: #333;
				}
			}
		}

		i {
			font-size: 1.5625rem;
			color: crimson;
		}

		p {
			text-align: justify;
		}
	}

	.right {
		form {
			.fields {
				display: flex;
				height: 2.8125rem;
				width: 100%;
				margin-bottom: 0.625rem;
			}

			.name {
				margin-right: 0.625rem;
			}

			.email {
				margin-left: 0.625rem;
			}

			.field {
				height: 2.8125rem;
				width: 100%;
				margin-bottom: 0.625rem;

				input,
				textarea {
					height: 100%;
					width: 100%;
					border: 1px solid lightgray;
					border-radius: 7px;
					padding: 0 1rem;
					font-size: 1rem;
					font-family: $font-family-base;
				}
			}

			.textarea {
				height: 5rem;

				textarea {
					padding-top: 0.625rem;
					resize: none;
				}
			}

			.button {
				height: 2.9375rem;
				width: 10.625rem;

				button {
					height: 100%;
					width: 100%;
					border: 2px solid crimson;
					border-radius: 7px;
					background: crimson;
					color: $white;
					font-family: $font-family-base;
					font-size: 1rem;
					font-weight: 500;
					transition: all 0.3s ease-in-out;

					&:hover {
						background: none;
						color: crimson;
						cursor: pointer;
					}
				}
			}
		}
	}
}
