.skill {
	font-family: $font-family-base;

	.title {
		position: relative;
		text-align: center;
		font-size: 2.5rem;
		font-weight: 500;
		margin-bottom: 3.75rem;
		padding-bottom: 1.25rem;
		font-family: $font-family-second;

		&::before {
			content: '';
			position: absolute;
			width: 12.1875rem;
			height: 3px;
			bottom: 0px;
			left: 50%;
			transform: translateX(-50%);
			background: #111;
		}

		&::after {
			content: 'what i know';
			position: absolute;
			bottom: -0.75rem;
			left: 50%;
			font-size: 1.25rem;
			color: crimson;
			padding: 5px;
			background: $white;
			transform: translateX(-50%);
		}
	}

	&-content {
		flex-wrap: wrap;
		align-items: center;

		.column {
			width: calc(50% - 30px);

			@include breakpoint-down(medium) {
				width: 100%;
			}
		}

		.left {
			@include breakpoint-down(medium) {
				margin-bottom: 2rem;
			}
			.text {
				font-size: 1.25rem;
				font-weight: 600;
				margin-bottom: 0.625rem;
			}

			p {
				text-align: justify;
			}

			a {
				background-color: crimson;
				display: inline-block;
				color: $white;
				font-weight: 500;
				font-size: 1.25rem;
				padding: 5px 1.25rem;
				border-radius: 7px;
				border: 2px solid crimson;
				transition: all 0.3s ease-in-out;

				&:hover {
					color: $gray;
					background: none;
				}
			}
		}

		.right {
			.bars {
				margin-bottom: 0.9375rem;

				.info {
					align-items: center;
					margin-bottom: 0.3125rem;

					span {
						font-weight: 500;
						font-size: 1.125rem;
					}
				}

				.line {
					height: 5px;
					width: 100%;
					background: lightgray;
					position: relative;

					&::before {
						content: '';
						position: absolute;
						height: 100%;
						top: 0;
						left: 0;
						background: crimson;
					}
				}
			}

			.html::before {
				width: 90%;
			}

			.sass::before {
				width: 80%;
			}

			.js::before {
				width: 80%;
			}

			.go::before {
				width: 50%;
			}

			.db::before {
				width: 60%;
			}
		}
	}
}
