.team {
	font-family: $font-family-base;
	background: #111;
	color: $white;

	.title {
		position: relative;
		text-align: center;
		font-size: 2.5rem;
		font-weight: 500;
		margin-bottom: 3.75rem;
		padding-bottom: 1.25rem;
		font-family: $font-family-second;

		&::before {
			content: '';
			position: absolute;
			width: 12.1875rem;
			height: 3px;
			bottom: 0px;
			left: 50%;
			transform: translateX(-50%);
			background: $white;
		}

		&::after {
			content: 'who with me';
			position: absolute;
			bottom: -0.75rem;
			left: 50%;
			font-size: 1.25rem;
			color: crimson;
			padding: 5px;
			background: #111;
			transform: translateX(-50%);
		}
	}

	.card {
		text-align: center;
		background: #222;
		border-radius: 7px;
		padding: 1.5625rem 2.1875rem;
		transition: all 0.3s ease-in-out;

		&:hover {
			background: crimson;
			cursor: pointer;
			.box {
				transform: scale(1.05);
				img {
					border-color: aliceblue;
				}
			}
		}
	}

	.owl-carousel .owl-item img {
		height: 10rem;
		width: 10rem;
		object-fit: cover;
		border-radius: 50%;
		border: 3px solid crimson;
	}

	.owl-dots {
		text-align: center;
		margin-top: 1.25rem;
	}

	.owl-dot {
		height: 0.8125rem;
		width: 0.8125rem;
		outline: none !important;
		border-radius: 50%;
		border: 2px solid crimson !important;
		margin: 0 5px;
		transition: all 0.3s ease-in-out;

		&:hover {
			background: crimson !important;
		}
	}
	.active {
		width: 2.1875rem;
		border-radius: 0.875rem;
		background: crimson !important;
	}

	.box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease-in-out;

		.text {
			font-size: 1.5625rem;
			font-weight: 500;
			margin: 0.625rem 0 0.4375rem;
		}
	}
}
