@import 'variables';
@import 'mixins';
@import 'globals';
@import 'animations';

@import 'header';
@import 'hero';
@import 'about';
@import 'services';
@import 'skills';
@import 'team';
@import 'contact';
@import 'footer';

.scroll-up {
	position: fixed;
	height: 2.8125rem;
	width: 2.626rem;
	background: crimson;
	right: 2rem;
	bottom: 1px;
	text-align: center;
	line-height: 2.8125rem;
	color: #fff;
	z-index: 999;
	font-size: 30px;
	border-radius: 7px;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
}
.show {
	opacity: 1;
	pointer-events: auto;
	bottom: 2rem;
}
